<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>회원가입 페이지</h1>
	<form action="join" method="post">
		ID : <input type="text" name="id"><br>
		PW : <input type="password" name="pw"><br>
		PW_Confirm : <input type="password"><br>
		NAME : <input type="text" name="name"><br>
		PHONE : <input type="text" name="phone"><br>
		ADDRESS : <input type="text" name="addr"><br>
		<input type="submit" value="신분증 등록"><br>
		<input type="text" value="테스트용이에용">
		<input type="submit" value="확인">
		<a href="list">넘어가보자</a>
	</form>
</body>
</html>